@model Capstone.Web.Models.Park

@{
    ViewBag.Title = "Detail";
}

<h2>Details of Park</h2>

<section>
    @{

        var parkImage = "/Content/images/parks/" + Model.ParkCode.ToLower() + ".jpg";
    }

    <img class="img-center" src=@parkImage />

    <table>

        <tr>
            <td>
                @Model.ParkCode
            </td>
            <td>
                @Model.ParkName
            </td>
            <td>
                @Model.State
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => Model.Acreage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ElevationInFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.MilesOfTrail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NumberOfCampsites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.Climate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.YearFounded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.AnnualVisitorCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.InspirationalQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.InspirationalQuoteSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.ParkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.EntryFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => Model.NumberOfAnimalSpecies)
            </td>*@
    </table>



</section>
<p>  
    @Html.ActionLink("Back to List", "Index")
</p>
