@using Capstone.Web.Models;
@model ParksAndWeather

@{
    ViewBag.Title = "Detail";
}

<h2>Details of Park</h2>

<section>
    @{
        var parkImage = "/Content/images/parks/" + Model.ParkWithWeather.ParkCode + ".jpg";
        var weatherImage = "/Content/images/weather/" + Model.ListOfWeather + ".png";

       


    }

    <div>

        @*@if (Model.ListOfWeather.Forecast == "snow")
        {
            <h2>Make sure you pack snowshoes!</h2>
        }
        @if (Model.WeatherFromParkAndWeather.Forecast == "rain")
        {
            <h2>Make sure you pack rain gear and wear waterproof shoes!</h2>

        }
        @if (Model.WeatherFromParkAndWeather.Forecast == "thunderstorms")
        {
            <h2>SEEK SHELTER! Avoid hiking on exposed ridges!</h2>
        }
        @if (Model.WeatherFromParkAndWeather.Forecast == "sun")
        {
            <h2>Make sure you pack sunblock!</h2>
        }
        @if (Model.WeatherFromParkAndWeather.High >= 75)
        {
            <h2>Pack an extra gallon of water!</h2>
        }
        @{
            var theHigh = Model.WeatherFromParkAndWeather.High;
            var theLow = Model.WeatherFromParkAndWeather.Low;
            var tempDiff = theHigh - theLow;
        }
        @if (tempDiff >= 20)
        {
            <h2>Wear breathable layers</h2>

        }
        @if (Model.WeatherFromParkAndWeather.Low <= 20)
        {
            <h2>IT IS GONNA BE A COLD ONE!</h2>
        }*@

    </div>


    <table>

        <tr>
            <td>
                @Model.ListOfWeather[0].Low
                @Url.Action()
                <br />
                @Model.ParkWithWeather.ParkName
                <br />
                @Model.ParkWithWeather.State
                <br />
                @Model.ParkWithWeather.Acreage
                <br />
                @Model.ParkWithWeather.ElevationInFeet
                <br />
                @Model.ParkWithWeather.MilesOfTrail
                <br />
                @Model.ParkWithWeather.NumberOfCampsites
                <br />
                @Model.ParkWithWeather.Climate
                <br />
                @Model.ParkWithWeather.YearFounded
                <br />
                @Model.ParkWithWeather.AnnualVisitorCount
                <br />
                @Model.ParkWithWeather.InspirationalQuote
                <br />
                @Model.ParkWithWeather.InspirationalQuoteSource
                <br />
                @Model.ParkWithWeather.ParkDescription
                <br />
                @Model.ParkWithWeather.EntryFee
                <br />
                @Model.ParkWithWeather.NumberOfAnimalSpecies
            </td>
        </tr>
    </table>
</section>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
