@using Capstone.Web.Models;
@model ParksAndWeather

@{
    ViewBag.Title = "Detail";
}

<h2>Details of Park</h2>

<section>
    @{

        var parkImage = "/Content/images/parks/" + Model.Park.ParkCode + ".jpg";
    }

    <img class="img-center" src=@parkImage />

    @{
        var weatherImage = "/Content/images/weather/" + Model.Weather.Forecast + ".png";
    }


    <table>

        <tr>
            <td>
                @Model.Park.ParkCode
                <br />
                @*@Model.ParkName
                    <br />
                    @Model.State
                    <br />
                    @Model.Acreage
                    <br />
                    @Model.ElevationInFeet
                    <br />
                    @Model.MilesOfTrail
                    <br />
                    @Model.NumberOfCampsites
                    <br />
                    @Model.Climate
                    <br />
                    @Model.YearFounded
                    <br />
                    @Model.AnnualVisitorCount
                    <br />
                    @Model.InspirationalQuote
                    <br />
                    @Model.InspirationalQuoteSource
                    <br />
                    @Model.ParkDescription
                    <br />
                    @Model.EntryFee
                    <br />
                    @Model.NumberOfAnimalSpecies*@
            </td>
        </tr>



    </table>





</section>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>
